/*==============================================*/
/*==============================================*/
@media screen and (max-width:1280px){
.lang {
	right: 13px;
}
.lang a {
	margin-left: 5px;
}
.nav .nav-inner ul {
	left: 13px;
}
.nav .nav-inner ul li a {

}
}
/*==============================================*/
/*==============================================*/
@media screen and (max-height:330px){
.hidden-nav ul {
	top: 0;
	transform: translateY(0);
}
}
/*==============================================*/
/*==============================================*/